@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MYYeongnamnu";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

p {
  font-size: inherit;
  margin: 0;
}

body {
  background-color: #e9edc9;
}

:root {
  /* etc */
  --etc-black: #000;
  --etc-white: #fff;
  --etc-red: #ff0000;
  --etc-blue: #89ddff;
  --etc-point: #e6396e;
  --etc-mark1: #e8463e;
  --etc-mark2: #dd0612;

  /* body */
  --body1: #fcdab3;
  --body2: #eca25a;
  --body3: #d78533;
  --body4: #d18035;
  --body5: #924905;
  --body6: #6b3100;

  /* grass */
  --grass1: #2fbd00;
  --grass2: #379717;
  --grass3: #207e01;
  --grass4: #155700;

  /* flower */
  --flower1: #ffc400;
  --flower2: #ff9900;
  --flower3: #ff3300;

  /* font */
  --main-font: "NeoDunggeunmoPro-Regular";
}

/* 폴라로이드 */
.polaroid,
.calendar-wrap,
.pot {
  font-size: 12px;
  width: 25em;
  height: 31em;
  position: absolute;
  border: 1px solid var(--etc-black);
}

.polaroid {
  background: white;
  padding: 20px 20px 120px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  box-shadow: 0 10px 10px -5px;
  display: flex;
  justify-content: center;
}

.calendar-wrap,
.pot {
  padding: 2px;
}

.calendar-wrap {
  background: linear-gradient(to bottom, #0066ff, #eaecc6);
}

.text-wrap {
  position: absolute;
  bottom: 3%;
  font-family: "MYYeongnamnu";
  font-size: 3em;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: text 1.2s ease-out 11s forwards;
  width: 50em;
  transform: skewY(176deg);
}

.text-wrap p:nth-child(1) {
  transform: translateX(-71px);
}

.text-wrap p:nth-child(2) {
  transform: translateX(38px);
}

@keyframes text {
  100% {
    opacity: 1;
  }
}
/* 달력 */
.calendar {
  /* background-color: ; */
  width: 50%;
  height: 50%;
  float: right;
  position: relative;
  top: 3%;
  right: 3%;
}

.calendar p {
  font-family: var(--main-font);
  margin: 0;
  background-color: var(--etc-white);
  position: absolute;
  right: 0;
  width: 50%;
  height: 25%;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar p:not(:nth-child(1)) {
  margin: 6px 3px 3px 0;
  border-left: 1px solid var(--etc-black);
  border-bottom: 1px solid var(--etc-black);
  border-right: 1px solid var(--etc-black);
}

.calendar p:nth-child(1) {
  border-top: 6px solid #ca1e1c;
  border-bottom: 4px double var(--etc-black);
  border-right: 4px double var(--etc-black);
  border-left: 1px solid var(--etc-black);
}

.calendar p:nth-child(6) {
  animation: skip 1.2s ease-out 3.1s forwards;
}
.calendar p:nth-child(5) {
  animation: skip 1.2s ease-out 5.5s forwards;
}
.calendar p:nth-child(4) {
  animation: skip 1.2s ease-out 7.5s forwards;
}
.calendar p:nth-child(3) {
  animation: skip 1.2s ease-out 9.5s forwards;
}
.calendar p:nth-child(2) {
  animation: skip 1.2s ease-out 11s forwards;
}

@keyframes skip {
  0% {
    transform: skew(-20deg);
    right: 6%;
  }

  100% {
    transform: skew(-20deg);
    right: 6%;
    opacity: 0;
  }
}

/* 캐릭터 */
.pot::before,
.pot::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  margin: -1em 0 0 -1em;
}

.pot::before {
  box-shadow: 3em 22em var(--body2), 4em 22em var(--body2),
    5em 22em var(--body2), 6em 22em var(--body2), 7em 22em var(--body1),
    8em 22em var(--body2), 9em 22em var(--body4), 10em 22em var(--body5),
    11em 22em var(--body5), 12em 22em var(--body6), 13em 22em var(--body6),
    14em 22em var(--body6), 15em 22em var(--body6), 16em 22em var(--body6),
    17em 22em var(--body6), 3em 23em var(--body2), 4em 23em var(--body2),
    5em 23em var(--body2), 6em 23em var(--body2), 7em 23em var(--body1),
    8em 23em var(--body2), 9em 23em var(--body4), 10em 23em var(--body4),
    11em 23em var(--body4), 12em 23em var(--body5), 13em 23em var(--body5),
    14em 23em var(--body5), 15em 23em var(--body5), 16em 23em var(--body5),
    17em 23em var(--body6), 3em 24em var(--body5), 4em 24em var(--body5),
    5em 24em var(--body5), 6em 24em var(--body5), 7em 24em var(--body5),
    8em 24em var(--body5), 9em 24em var(--body6), 10em 24em var(--body6),
    11em 24em var(--body6), 12em 24em var(--body6), 13em 24em var(--body6),
    14em 24em var(--body6), 15em 24em var(--body6), 16em 24em var(--body6),
    17em 24em var(--body6), 4em 25em var(--body6), 5em 25em var(--body5),
    6em 25em var(--body5), 7em 25em var(--body5), 8em 25em var(--body5),
    9em 25em var(--body5), 10em 25em var(--body5), 11em 25em var(--body5),
    12em 25em var(--body5), 13em 25em var(--body5), 14em 25em var(--body5),
    15em 25em var(--body5), 16em 25em var(--body6), 4em 26em var(--body6),
    5em 26em var(--body5), 6em 26em var(--body5), 7em 26em var(--body5),
    8em 26em var(--body5), 9em 26em var(--body5), 10em 26em var(--body5),
    11em 26em var(--body5), 12em 26em var(--body5), 13em 26em var(--body5),
    14em 26em var(--body5), 15em 26em var(--body5), 16em 26em var(--body6),
    4em 27em var(--body5), 5em 27em var(--body3), 6em 27em var(--body3),
    7em 27em var(--body1), 8em 27em var(--body2), 9em 27em var(--body3),
    10em 27em var(--body3), 11em 27em var(--body3), 12em 27em var(--body5),
    13em 27em var(--body5), 14em 27em var(--body5), 15em 27em var(--body5),
    16em 27em var(--body6), 5em 28em var(--body5), 6em 28em var(--body3),
    7em 28em var(--body1), 8em 28em var(--body2), 9em 28em var(--body3),
    10em 28em var(--body3), 11em 28em var(--body3), 12em 28em var(--body5),
    13em 28em var(--body5), 14em 28em var(--body5), 15em 28em var(--body6),
    5em 29em var(--body5), 6em 29em var(--body3), 7em 29em var(--body1),
    8em 29em var(--body2), 9em 29em var(--body3), 10em 29em var(--body3),
    11em 29em var(--body3), 12em 29em var(--body5), 13em 29em var(--body5),
    14em 29em var(--body5), 15em 29em var(--body6), 5em 30em var(--body5),
    6em 30em var(--body3), 7em 30em var(--body2), 8em 30em var(--body2),
    9em 30em var(--body3), 10em 30em var(--body3), 11em 30em var(--body3),
    12em 30em var(--body5), 13em 30em var(--body5), 14em 30em var(--body5),
    15em 30em var(--body6), 6em 31em var(--body5), 7em 31em var(--body3),
    8em 31em var(--body3), 9em 31em var(--body6), 10em 31em var(--body6),
    11em 31em var(--body6), 12em 31em var(--body6), 13em 31em var(--body6),
    14em 31em var(--body6);
}

.pot::after {
  animation: day1 2s steps(1) 2 forwards, day2 2s 3.1s steps(1) forwards,
    day3 2s 5.5s steps(1) forwards, day4 1.5s 7.5s steps(1) forwards,
    day5 1.5s 9.5s steps(1) forwards;
}

@keyframes day1 {
  0% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black);
  }

  25% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      10em 30em var(--etc-black), 18em 28em var(--etc-black),
      19em 28em var(--etc-black), 20em 28em var(--etc-black),
      21em 28em var(--etc-black), 20em 29em var(--etc-black),
      19em 30em var(--etc-black), 18em 31em var(--etc-black),
      19em 31em var(--etc-black), 20em 31em var(--etc-black),
      21em 31em var(--etc-black);
  }

  50% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 18em 28em var(--etc-black),
      19em 28em var(--etc-black), 20em 28em var(--etc-black),
      21em 28em var(--etc-black), 20em 29em var(--etc-black),
      19em 30em var(--etc-black), 18em 31em var(--etc-black),
      19em 31em var(--etc-black), 20em 31em var(--etc-black),
      21em 31em var(--etc-black);
  }

  75% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      10em 30em var(--etc-black), 18em 28em var(--etc-black),
      19em 28em var(--etc-black), 20em 28em var(--etc-black),
      21em 28em var(--etc-black), 20em 29em var(--etc-black),
      19em 30em var(--etc-black), 18em 31em var(--etc-black),
      19em 31em var(--etc-black), 20em 31em var(--etc-black),
      21em 31em var(--etc-black), 20em 22em var(--etc-black),
      21em 22em var(--etc-black), 22em 22em var(--etc-black),
      23em 22em var(--etc-black), 22em 23em var(--etc-black),
      21em 24em var(--etc-black), 20em 25em var(--etc-black),
      21em 25em var(--etc-black), 22em 25em var(--etc-black),
      23em 25em var(--etc-black);
  }

  100% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 18em 28em var(--etc-black),
      19em 28em var(--etc-black), 20em 28em var(--etc-black),
      21em 28em var(--etc-black), 20em 29em var(--etc-black),
      19em 30em var(--etc-black), 18em 31em var(--etc-black),
      19em 31em var(--etc-black), 20em 31em var(--etc-black),
      21em 31em var(--etc-black), 20em 22em var(--etc-black),
      21em 22em var(--etc-black), 22em 22em var(--etc-black),
      23em 22em var(--etc-black), 22em 23em var(--etc-black),
      21em 24em var(--etc-black), 20em 25em var(--etc-black),
      21em 25em var(--etc-black), 22em 25em var(--etc-black),
      23em 25em var(--etc-black);
  }
}

@keyframes day2 {
  0% {
    box-shadow: 6em 26em var(--etc-black), 7em 26em var(--etc-black),
      8em 26em var(--etc-black), 7em 27em var(--etc-black),
      8em 27em var(--etc-black), 9em 26em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 12em 26em var(--etc-black),
      13em 26em var(--etc-black), 14em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 20em 29em var(--etc-blue),
      10em 21em var(--grass2);
  }

  20% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 20em 29em var(--etc-blue),
      21em 24em var(--etc-blue), 10em 21em var(--grass2),
      10em 20em var(--grass1);
  }

  40% {
    box-shadow: 6em 26em var(--etc-black), 7em 26em var(--etc-black),
      8em 26em var(--etc-black), 7em 27em var(--etc-black),
      8em 27em var(--etc-black), 9em 26em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 12em 26em var(--etc-black),
      13em 26em var(--etc-black), 14em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 20em 28em var(--etc-blue),
      20em 30em var(--etc-blue), 19em 29em var(--etc-blue),
      21em 29em var(--etc-blue), 21em 24em var(--etc-blue),
      10em 21em var(--grass2), 10em 20em var(--grass2), 10em 19em var(--grass1);
  }

  60% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 20em 29em var(--etc-blue),
      21em 23em var(--etc-blue), 21em 25em var(--etc-blue),
      20em 24em var(--etc-blue), 22em 24em var(--etc-blue),
      10em 21em var(--grass3), 10em 20em var(--grass3), 10em 19em var(--grass2),
      10em 18em var(--grass1), 8em 19em var(--grass1), 9em 19em var(--grass1);
  }

  80% {
    box-shadow: 6em 26em var(--etc-black), 7em 26em var(--etc-black),
      8em 26em var(--etc-black), 7em 27em var(--etc-black),
      8em 27em var(--etc-black), 9em 26em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 12em 26em var(--etc-black),
      13em 26em var(--etc-black), 14em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 20em 29em var(--etc-blue),
      21em 24em var(--etc-blue), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass2), 10em 18em var(--grass2),
      10em 17em var(--grass1), 7em 18em var(--grass2), 8em 18em var(--grass2),
      9em 18em var(--grass2), 8em 19em var(--grass1), 9em 19em var(--grass1),
      11em 20em var(--grass1);
  }

  100% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 20em 28em var(--etc-blue),
      20em 30em var(--etc-blue), 19em 29em var(--etc-blue),
      21em 29em var(--etc-blue), 21em 23em var(--etc-blue),
      21em 25em var(--etc-blue), 20em 24em var(--etc-blue),
      22em 24em var(--etc-blue), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass2), 10em 16em var(--grass1), 5em 17em var(--grass1),
      6em 17em var(--grass1), 7em 17em var(--grass1), 8em 17em var(--grass2),
      9em 17em var(--grass2), 7em 18em var(--grass2), 8em 18em var(--grass2),
      9em 18em var(--grass3), 8em 19em var(--grass2), 9em 19em var(--grass2),
      11em 19em var(--grass3), 12em 19em var(--grass3), 13em 19em var(--grass1),
      11em 20em var(--grass3);
  }
}

@keyframes day3 {
  0% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass2), 10em 16em var(--grass1), 10em 15em var(--grass1),
      10em 14em var(--grass1), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      12em 19em var(--grass3), 13em 19em var(--grass1), 11em 20em var(--grass3);
  }

  20% {
    box-shadow: 6em 26em var(--etc-white), 7em 26em var(--etc-black),
      6em 27em var(--etc-black), 7em 27em var(--etc-black),
      6em 28em var(--etc-black), 7em 28em var(--etc-black),
      11em 26em var(--etc-white), 12em 26em var(--etc-black),
      11em 27em var(--etc-black), 12em 27em var(--etc-black),
      11em 28em var(--etc-black), 12em 28em var(--etc-black),
      9em 30em var(--etc-red), 10em 21em var(--grass3), 10em 20em var(--grass3),
      10em 19em var(--grass3), 10em 18em var(--grass3), 10em 17em var(--grass3),
      10em 16em var(--grass2), 10em 15em var(--grass2), 10em 14em var(--grass1),
      10em 13em var(--grass1), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      12em 19em var(--grass3), 13em 19em var(--grass2), 11em 20em var(--grass3),
      18em 28em var(--etc-black), 19em 28em var(--etc-black),
      20em 28em var(--etc-black), 21em 28em var(--etc-black),
      18em 29em var(--etc-black), 19em 29em var(--etc-black),
      20em 29em var(--etc-black), 21em 29em var(--etc-black),
      19em 30em var(--etc-black), 20em 30em var(--etc-black),
      19em 27em var(--etc-black), 20em 27em var(--etc-black),
      21em 27em var(--etc-black), 21em 26em var(--etc-black),
      21em 25em var(--etc-black), 21em 24em var(--etc-black),
      21em 23em var(--etc-black), 21em 22em var(--etc-black),
      22em 23em var(--etc-black), 23em 24em var(--etc-black),
      24em 25em var(--etc-black), 23em 26em var(--etc-black);
  }

  40% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass2), 10em 13em var(--grass2), 10em 12em var(--grass2),
      10em 11em var(--grass1), 10em 10em var(--grass1), 5em 17em var(--grass1),
      6em 17em var(--grass1), 7em 17em var(--grass1), 8em 17em var(--grass2),
      9em 17em var(--grass2), 7em 18em var(--grass2), 8em 18em var(--grass2),
      9em 18em var(--grass3), 8em 19em var(--grass2), 9em 19em var(--grass2),
      11em 19em var(--grass3), 12em 19em var(--grass3), 13em 19em var(--grass2),
      11em 20em var(--grass3), 8em 19em var(--grass2), 11em 13em var(--grass1),
      12em 13em var(--grass1), 11em 14em var(--grass1);
  }

  60% {
    box-shadow: 8em 26em var(--etc-white), 9em 26em var(--etc-black),
      8em 27em var(--etc-black), 9em 27em var(--etc-black),
      8em 28em var(--etc-black), 9em 28em var(--etc-black),
      13em 26em var(--etc-white), 14em 26em var(--etc-black),
      13em 27em var(--etc-black), 14em 27em var(--etc-black),
      13em 28em var(--etc-black), 14em 28em var(--etc-black),
      11em 30em var(--etc-red), 10em 21em var(--grass3), 10em 20em var(--grass3),
      10em 19em var(--grass3), 10em 18em var(--grass3), 10em 17em var(--grass3),
      10em 16em var(--grass3), 10em 15em var(--grass3), 10em 14em var(--grass3),
      10em 13em var(--grass3), 10em 12em var(--grass3), 10em 11em var(--grass2),
      10em 10em var(--grass2), 10em 9em var(--grass2), 10em 8em var(--grass1),
      10em 7em var(--grass1), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass1), 9em 9em var(--grass1), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2), 18em 28em var(--etc-black),
      19em 28em var(--etc-black), 20em 28em var(--etc-black),
      21em 28em var(--etc-black), 18em 29em var(--etc-black),
      19em 29em var(--etc-black), 20em 29em var(--etc-black),
      21em 29em var(--etc-black), 19em 30em var(--etc-black),
      20em 30em var(--etc-black), 19em 27em var(--etc-black),
      20em 27em var(--etc-black), 21em 27em var(--etc-black),
      21em 26em var(--etc-black), 21em 25em var(--etc-black),
      21em 24em var(--etc-black), 21em 23em var(--etc-black),
      21em 22em var(--etc-black), 22em 23em var(--etc-black),
      23em 24em var(--etc-black), 24em 25em var(--etc-black),
      23em 26em var(--etc-black);
  }

  80% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass3), 10em 13em var(--grass3), 10em 12em var(--grass3),
      10em 11em var(--grass3), 10em 10em var(--grass3), 10em 9em var(--grass3),
      10em 8em var(--grass2), 10em 7em var(--grass2), 10em 6em var(--grass1),
      10em 5em var(--grass1), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass3), 9em 9em var(--grass3), 7em 8em var(--grass1),
      8em 8em var(--grass1), 9em 8em var(--grass2), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2);
  }

  100% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass3), 10em 13em var(--grass3), 10em 12em var(--grass3),
      10em 11em var(--grass3), 10em 10em var(--grass3), 10em 9em var(--grass3),
      10em 8em var(--grass3), 10em 7em var(--grass3), 10em 6em var(--grass3),
      10em 5em var(--grass2), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass3), 9em 9em var(--grass3), 7em 8em var(--grass1),
      8em 8em var(--grass1), 9em 8em var(--grass2), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2), 11em 6em var(--grass4), 12em 5em var(--grass4),
      9em 4em var(--grass4), 8em 13em var(--grass4), 9em 14em var(--grass4),
      11em 17em var(--grass4), 11em 10em var(--grass4);
  }
}

@keyframes day4 {
  0% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      10em 30em var(--etc-red), 10em 21em var(--grass3), 10em 20em var(--grass3),
      10em 19em var(--grass3), 10em 18em var(--grass3), 10em 17em var(--grass3),
      10em 16em var(--grass3), 10em 15em var(--grass3), 10em 14em var(--grass3),
      10em 13em var(--grass3), 10em 12em var(--grass3), 10em 11em var(--grass3),
      10em 10em var(--grass3), 10em 9em var(--grass3), 10em 8em var(--grass3),
      10em 7em var(--grass3), 10em 6em var(--grass3), 10em 5em var(--grass2),
      5em 17em var(--grass1), 6em 17em var(--grass1), 7em 17em var(--grass1),
      8em 17em var(--grass2), 9em 17em var(--grass2), 7em 18em var(--grass2),
      8em 18em var(--grass2), 9em 18em var(--grass3), 8em 19em var(--grass2),
      9em 19em var(--grass2), 11em 19em var(--grass3), 8em 9em var(--grass3),
      9em 9em var(--grass3), 7em 8em var(--grass1), 8em 8em var(--grass1),
      9em 8em var(--grass2), 12em 19em var(--grass3), 13em 19em var(--grass2),
      11em 20em var(--grass3), 8em 19em var(--grass2), 11em 12em var(--grass2),
      12em 12em var(--grass2), 13em 12em var(--grass2), 14em 12em var(--grass1),
      11em 13em var(--grass3), 12em 13em var(--grass2), 11em 14em var(--grass2),
      11em 6em var(--grass4), 12em 5em var(--grass4), 9em 4em var(--grass4),
      8em 13em var(--grass4), 9em 14em var(--grass4), 7em 13em var(--flower1),
      8em 12em var(--flower1), 7em 12em var(--flower1), 11em 17em var(--grass4),
      11em 10em var(--grass4);
  }

  25% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      10em 30em var(--etc-red), 10em 29em var(--etc-red),
      10em 21em var(--grass3), 10em 20em var(--grass3), 10em 19em var(--grass3),
      10em 18em var(--grass3), 10em 17em var(--grass3), 10em 16em var(--grass3),
      10em 15em var(--grass3), 10em 14em var(--grass3), 10em 13em var(--grass3),
      10em 12em var(--grass3), 10em 11em var(--grass3), 10em 10em var(--grass3),
      10em 9em var(--grass3), 10em 8em var(--grass3), 10em 7em var(--grass3),
      10em 6em var(--grass3), 10em 5em var(--grass2), 5em 17em var(--grass1),
      6em 17em var(--grass1), 7em 17em var(--grass1), 8em 17em var(--grass2),
      9em 17em var(--grass2), 7em 18em var(--grass2), 8em 18em var(--grass2),
      9em 18em var(--grass3), 8em 19em var(--grass2), 9em 19em var(--grass2),
      11em 19em var(--grass3), 8em 9em var(--grass3), 9em 9em var(--grass3),
      7em 8em var(--grass1), 8em 8em var(--grass1), 9em 8em var(--grass2),
      12em 19em var(--grass3), 13em 19em var(--grass2), 11em 20em var(--grass3),
      8em 19em var(--grass2), 11em 12em var(--grass2), 12em 12em var(--grass2),
      13em 12em var(--grass2), 14em 12em var(--grass1), 11em 13em var(--grass3),
      12em 13em var(--grass2), 11em 14em var(--grass2), 11em 6em var(--grass4),
      12em 5em var(--grass4), 9em 4em var(--grass4), 8em 13em var(--grass4),
      9em 14em var(--grass4), 7em 13em var(--flower1), 8em 12em var(--flower1),
      7em 12em var(--flower1), 11em 17em var(--grass4), 11em 10em var(--grass4),
      12em 10em var(--flower1), 21em 23em var(--etc-mark1),
      22em 23em var(--etc-mark1), 21em 29em var(--etc-mark1),
      22em 29em var(--etc-mark1), 21em 27em var(--etc-mark1),
      22em 27em var(--etc-mark1), 21em 26em var(--etc-mark1),
      22em 26em var(--etc-mark1), 21em 25em var(--etc-mark1),
      22em 25em var(--etc-mark1), 21em 24em var(--etc-mark1),
      22em 24em var(--etc-mark1), 21em 23em var(--etc-mark1),
      22em 23em var(--etc-mark1);
  }

  50% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      10em 30em var(--etc-red), 10em 21em var(--grass3), 10em 20em var(--grass3),
      10em 19em var(--grass3), 10em 18em var(--grass3), 10em 17em var(--grass3),
      10em 16em var(--grass3), 10em 15em var(--grass3), 10em 14em var(--grass3),
      10em 13em var(--grass3), 10em 12em var(--grass3), 10em 11em var(--grass3),
      10em 10em var(--grass3), 10em 9em var(--grass3), 10em 8em var(--grass3),
      10em 7em var(--grass3), 10em 6em var(--grass3), 10em 5em var(--grass2),
      5em 17em var(--grass1), 6em 17em var(--grass1), 7em 17em var(--grass1),
      8em 17em var(--grass2), 9em 17em var(--grass2), 7em 18em var(--grass2),
      8em 18em var(--grass2), 9em 18em var(--grass3), 8em 19em var(--grass2),
      9em 19em var(--grass2), 11em 19em var(--grass3), 8em 9em var(--grass3),
      9em 9em var(--grass3), 7em 8em var(--grass1), 8em 8em var(--grass1),
      9em 8em var(--grass2), 12em 19em var(--grass3), 13em 19em var(--grass2),
      11em 20em var(--grass3), 8em 19em var(--grass2), 11em 12em var(--grass2),
      12em 12em var(--grass2), 13em 12em var(--grass2), 14em 12em var(--grass1),
      11em 13em var(--grass3), 12em 13em var(--grass2), 11em 14em var(--grass2),
      11em 6em var(--grass4), 12em 5em var(--grass4), 9em 4em var(--grass4),
      8em 4em var(--flower1), 8em 13em var(--grass4), 9em 14em var(--grass4),
      7em 13em var(--flower1), 8em 12em var(--flower1), 7em 12em var(--flower1),
      11em 17em var(--grass4), 11em 10em var(--grass4), 12em 10em var(--flower1);
  }

  75% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      10em 30em var(--etc-red), 10em 29em var(--etc-red),
      10em 21em var(--grass3), 10em 20em var(--grass3), 10em 19em var(--grass3),
      10em 18em var(--grass3), 10em 17em var(--grass3), 10em 16em var(--grass3),
      10em 15em var(--grass3), 10em 14em var(--grass3), 10em 13em var(--grass3),
      10em 12em var(--grass3), 10em 11em var(--grass3), 10em 10em var(--grass3),
      10em 9em var(--grass3), 10em 8em var(--grass3), 10em 7em var(--grass3),
      10em 6em var(--grass3), 10em 5em var(--grass2), 5em 17em var(--grass1),
      6em 17em var(--grass1), 7em 17em var(--grass1), 8em 17em var(--grass2),
      9em 17em var(--grass2), 7em 18em var(--grass2), 8em 18em var(--grass2),
      9em 18em var(--grass3), 8em 19em var(--grass2), 9em 19em var(--grass2),
      11em 19em var(--grass3), 8em 9em var(--grass3), 9em 9em var(--grass3),
      7em 8em var(--grass1), 8em 8em var(--grass1), 9em 8em var(--grass2),
      12em 19em var(--grass3), 13em 19em var(--grass2), 11em 20em var(--grass3),
      8em 19em var(--grass2), 11em 12em var(--grass2), 12em 12em var(--grass2),
      13em 12em var(--grass2), 14em 12em var(--grass1), 11em 13em var(--grass3),
      12em 13em var(--grass2), 11em 14em var(--grass2), 11em 6em var(--grass4),
      12em 5em var(--grass4), 9em 4em var(--grass4), 8em 4em var(--flower1),
      8em 13em var(--grass4), 9em 14em var(--grass4), 7em 13em var(--flower1),
      8em 12em var(--flower1), 7em 12em var(--flower1), 11em 17em var(--grass4),
      12em 17em var(--flower1), 11em 16em var(--flower1),
      12em 16em var(--flower1), 11em 10em var(--grass4),
      12em 10em var(--flower1), 21em 23em var(--etc-mark1),
      22em 23em var(--etc-mark1), 21em 29em var(--etc-mark1),
      22em 29em var(--etc-mark1), 21em 27em var(--etc-mark1),
      22em 27em var(--etc-mark1), 21em 26em var(--etc-mark1),
      22em 26em var(--etc-mark1), 21em 25em var(--etc-mark1),
      22em 25em var(--etc-mark1), 21em 24em var(--etc-mark1),
      22em 24em var(--etc-mark1), 21em 23em var(--etc-mark1),
      22em 23em var(--etc-mark1);
  }

  100% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      10em 30em var(--etc-red), 10em 21em var(--grass3), 10em 20em var(--grass3),
      10em 19em var(--grass3), 10em 18em var(--grass3), 10em 17em var(--grass3),
      10em 16em var(--grass3), 10em 15em var(--grass3), 10em 14em var(--grass3),
      10em 13em var(--grass3), 10em 12em var(--grass3), 10em 11em var(--grass3),
      10em 10em var(--grass3), 10em 9em var(--grass3), 10em 8em var(--grass3),
      10em 7em var(--grass3), 10em 6em var(--grass3), 10em 5em var(--grass2),
      5em 17em var(--grass1), 6em 17em var(--grass1), 7em 17em var(--grass1),
      8em 17em var(--grass2), 9em 17em var(--grass2), 7em 18em var(--grass2),
      8em 18em var(--grass2), 9em 18em var(--grass3), 8em 19em var(--grass2),
      9em 19em var(--grass2), 11em 19em var(--grass3), 8em 9em var(--grass3),
      9em 9em var(--grass3), 7em 8em var(--grass1), 8em 8em var(--grass1),
      9em 8em var(--grass2), 12em 19em var(--grass3), 13em 19em var(--grass2),
      11em 20em var(--grass3), 8em 19em var(--grass2), 11em 12em var(--grass2),
      12em 12em var(--grass2), 13em 12em var(--grass2), 14em 12em var(--grass1),
      11em 13em var(--grass3), 12em 13em var(--grass2), 11em 14em var(--grass2),
      11em 6em var(--grass4), 12em 5em var(--grass4), 13em 5em var(--flower1),
      12em 4em var(--flower1), 13em 4em var(--flower1), 9em 4em var(--grass4),
      8em 4em var(--flower1), 8em 13em var(--grass4), 9em 14em var(--grass4),
      7em 13em var(--flower1), 8em 12em var(--flower1), 7em 12em var(--flower1),
      11em 17em var(--grass4), 12em 17em var(--flower1),
      11em 16em var(--flower1), 12em 16em var(--flower1),
      11em 10em var(--grass4), 12em 10em var(--flower1);
  }
}

@keyframes day5 {
  0% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 6em 29em var(--etc-point),
      7em 29em var(--etc-point), 13em 29em var(--etc-point),
      14em 29em var(--etc-point), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass3), 10em 13em var(--grass3), 10em 12em var(--grass3),
      10em 11em var(--grass3), 10em 10em var(--grass3), 10em 9em var(--grass3),
      10em 8em var(--grass3), 10em 7em var(--grass3), 10em 6em var(--grass3),
      10em 5em var(--grass2), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass3), 9em 9em var(--grass3), 7em 8em var(--grass1),
      8em 8em var(--grass1), 9em 8em var(--grass2), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2), 11em 6em var(--grass4), 12em 5em var(--grass4),
      13em 5em var(--flower1), 12em 4em var(--flower1), 13em 4em var(--flower1),
      9em 4em var(--grass4), 8em 4em var(--flower1), 9em 14em var(--grass4),
      6em 14em var(--flower2), 7em 14em var(--flower1), 8em 14em var(--flower2),
      6em 13em var(--flower1), 7em 13em var(--flower3), 8em 13em var(--flower1),
      6em 12em var(--flower2), 7em 12em var(--flower1), 8em 12em var(--flower2),
      11em 17em var(--grass4), 12em 17em var(--flower1),
      11em 16em var(--flower1), 12em 16em var(--flower1),
      11em 10em var(--grass4), 12em 10em var(--flower1);
  }

  25% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 25em var(--etc-black), 8em 25em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 25em var(--etc-black), 13em 25em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 6em 29em var(--etc-point),
      7em 29em var(--etc-point), 13em 29em var(--etc-point),
      14em 29em var(--etc-point), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass3), 10em 13em var(--grass3), 10em 12em var(--grass3),
      10em 11em var(--grass3), 10em 10em var(--grass3), 10em 9em var(--grass3),
      10em 8em var(--grass3), 10em 7em var(--grass3), 10em 6em var(--grass3),
      10em 5em var(--grass2), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass3), 9em 9em var(--grass3), 7em 8em var(--grass1),
      8em 8em var(--grass1), 9em 8em var(--grass2), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2), 11em 6em var(--grass4), 12em 5em var(--grass4),
      13em 5em var(--flower1), 12em 4em var(--flower1), 13em 4em var(--flower1),
      9em 4em var(--grass4), 8em 4em var(--flower1), 9em 14em var(--grass4),
      6em 14em var(--flower2), 7em 14em var(--flower1), 8em 14em var(--flower2),
      6em 13em var(--flower1), 7em 13em var(--flower3), 8em 13em var(--flower1),
      6em 12em var(--flower2), 7em 12em var(--flower1), 8em 12em var(--flower2),
      11em 17em var(--grass4), 12em 17em var(--flower1),
      11em 16em var(--flower1), 12em 16em var(--flower1),
      11em 11em var(--grass4), 11em 10em var(--flower1),
      12em 10em var(--flower3), 13em 10em var(--flower1),
      12em 9em var(--flower1), 12em 11em var(--flower1),
      21em 29em var(--etc-mark2), 20em 28em var(--etc-mark2),
      21em 28em var(--etc-mark2), 22em 28em var(--etc-mark2);
  }

  50% {
    box-shadow: 7em 26em var(--etc-white), 8em 26em var(--etc-black),
      7em 27em var(--etc-black), 8em 27em var(--etc-black),
      7em 28em var(--etc-black), 8em 28em var(--etc-black),
      12em 26em var(--etc-white), 13em 26em var(--etc-black),
      12em 27em var(--etc-black), 13em 27em var(--etc-black),
      12em 28em var(--etc-black), 13em 28em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 6em 29em var(--etc-point),
      7em 29em var(--etc-point), 13em 29em var(--etc-point),
      14em 29em var(--etc-point), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass3), 10em 13em var(--grass3), 10em 12em var(--grass3),
      10em 11em var(--grass3), 10em 10em var(--grass3), 10em 9em var(--grass3),
      10em 8em var(--grass3), 10em 7em var(--grass3), 10em 6em var(--grass3),
      10em 5em var(--grass2), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass3), 9em 9em var(--grass3), 7em 8em var(--grass1),
      8em 8em var(--grass1), 9em 8em var(--grass2), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2), 11em 6em var(--grass4), 12em 5em var(--grass4),
      13em 5em var(--flower1), 12em 4em var(--flower1), 13em 4em var(--flower1),
      7em 4em var(--flower1), 8em 4em var(--flower3), 9em 4em var(--flower1),
      8em 5em var(--flower1), 9em 5em var(--grass4), 8em 3em var(--flower1),
      9em 14em var(--grass4), 6em 14em var(--flower2), 7em 14em var(--flower1),
      8em 14em var(--flower2), 6em 13em var(--flower1), 7em 13em var(--flower3),
      8em 13em var(--flower1), 6em 12em var(--flower2), 7em 12em var(--flower1),
      8em 12em var(--flower2), 11em 17em var(--grass4), 12em 17em var(--flower1),
      11em 16em var(--flower1), 12em 16em var(--flower1),
      11em 11em var(--grass4), 11em 10em var(--flower1),
      12em 10em var(--flower3), 13em 10em var(--flower1),
      12em 9em var(--flower1), 12em 11em var(--flower1),
      21em 29em var(--etc-mark2), 20em 28em var(--etc-mark2),
      21em 28em var(--etc-mark2), 22em 28em var(--etc-mark2),
      19em 27em var(--etc-mark2), 20em 27em var(--etc-mark2),
      21em 27em var(--etc-mark2), 22em 27em var(--etc-mark2),
      23em 27em var(--etc-mark2);
  }

  75% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 25em var(--etc-black), 8em 25em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 25em var(--etc-black), 13em 25em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 6em 29em var(--etc-point),
      7em 29em var(--etc-point), 13em 29em var(--etc-point),
      14em 29em var(--etc-point), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass3), 10em 13em var(--grass3), 10em 12em var(--grass3),
      10em 11em var(--grass3), 10em 10em var(--grass3), 10em 9em var(--grass3),
      10em 8em var(--grass3), 10em 7em var(--grass3), 10em 6em var(--grass3),
      10em 5em var(--grass2), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass3), 9em 9em var(--grass3), 7em 8em var(--grass1),
      8em 8em var(--grass1), 9em 8em var(--grass2), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2), 11em 6em var(--grass4), 12em 5em var(--grass4),
      13em 5em var(--flower1), 12em 4em var(--flower1), 13em 4em var(--flower1),
      7em 4em var(--flower1), 8em 4em var(--flower3), 9em 4em var(--flower1),
      9em 5em var(--grass4), 8em 5em var(--flower1), 8em 3em var(--flower1),
      9em 14em var(--grass4), 6em 14em var(--flower2), 7em 14em var(--flower1),
      8em 14em var(--flower2), 6em 13em var(--flower1), 7em 13em var(--flower3),
      8em 13em var(--flower1), 6em 12em var(--flower2), 7em 12em var(--flower1),
      8em 12em var(--flower2), 11em 17em var(--grass4), 12em 18em var(--flower2),
      13em 18em var(--flower1), 14em 18em var(--flower2),
      12em 17em var(--flower1), 13em 17em var(--flower3),
      14em 17em var(--flower1), 12em 16em var(--flower2),
      13em 16em var(--flower1), 14em 16em var(--flower2),
      11em 11em var(--grass4), 11em 10em var(--flower1),
      12em 10em var(--flower3), 13em 10em var(--flower1),
      12em 9em var(--flower1), 12em 11em var(--flower1),
      21em 29em var(--etc-mark2), 20em 28em var(--etc-mark2),
      21em 28em var(--etc-mark2), 22em 28em var(--etc-mark2),
      19em 27em var(--etc-mark2), 20em 27em var(--etc-mark2),
      21em 27em var(--etc-mark2), 22em 27em var(--etc-mark2),
      23em 27em var(--etc-mark2), 19em 26em var(--etc-mark2),
      20em 26em var(--etc-mark2), 21em 26em var(--etc-mark2),
      22em 26em var(--etc-mark2), 23em 26em var(--etc-mark2);
  }

  100% {
    box-shadow: 6em 26em var(--etc-black), 9em 26em var(--etc-black),
      6em 27em var(--etc-black), 9em 27em var(--etc-black),
      7em 25em var(--etc-black), 8em 25em var(--etc-black),
      11em 26em var(--etc-black), 14em 26em var(--etc-black),
      11em 27em var(--etc-black), 14em 27em var(--etc-black),
      12em 25em var(--etc-black), 13em 25em var(--etc-black),
      9em 30em var(--etc-black), 10em 30em var(--etc-black),
      11em 30em var(--etc-black), 6em 29em var(--etc-point),
      7em 29em var(--etc-point), 13em 29em var(--etc-point),
      14em 29em var(--etc-point), 10em 21em var(--grass3),
      10em 20em var(--grass3), 10em 19em var(--grass3), 10em 18em var(--grass3),
      10em 17em var(--grass3), 10em 16em var(--grass3), 10em 15em var(--grass3),
      10em 14em var(--grass3), 10em 13em var(--grass3), 10em 12em var(--grass3),
      10em 11em var(--grass3), 10em 10em var(--grass3), 10em 9em var(--grass3),
      10em 8em var(--grass3), 10em 7em var(--grass3), 10em 6em var(--grass3),
      10em 5em var(--grass2), 5em 17em var(--grass1), 6em 17em var(--grass1),
      7em 17em var(--grass1), 8em 17em var(--grass2), 9em 17em var(--grass2),
      7em 18em var(--grass2), 8em 18em var(--grass2), 9em 18em var(--grass3),
      8em 19em var(--grass2), 9em 19em var(--grass2), 11em 19em var(--grass3),
      8em 9em var(--grass3), 9em 9em var(--grass3), 7em 8em var(--grass1),
      8em 8em var(--grass1), 9em 8em var(--grass2), 12em 19em var(--grass3),
      13em 19em var(--grass2), 11em 20em var(--grass3), 8em 19em var(--grass2),
      11em 12em var(--grass2), 12em 12em var(--grass2), 13em 12em var(--grass2),
      14em 12em var(--grass1), 11em 13em var(--grass3), 12em 13em var(--grass2),
      11em 14em var(--grass2), 11em 6em var(--grass4), 12em 6em var(--flower2),
      13em 6em var(--flower1), 14em 6em var(--flower2), 12em 5em var(--flower1),
      13em 5em var(--flower3), 14em 5em var(--flower1), 12em 4em var(--flower2),
      13em 4em var(--flower1), 14em 4em var(--flower2), 7em 4em var(--flower1),
      8em 4em var(--flower3), 9em 4em var(--flower1), 9em 5em var(--grass4),
      8em 5em var(--flower1), 8em 3em var(--flower1), 9em 14em var(--grass4),
      6em 14em var(--flower2), 7em 14em var(--flower1), 8em 14em var(--flower2),
      6em 13em var(--flower1), 7em 13em var(--flower3), 8em 13em var(--flower1),
      6em 12em var(--flower2), 7em 12em var(--flower1), 8em 12em var(--flower2),
      11em 17em var(--grass4), 12em 18em var(--flower2),
      13em 18em var(--flower1), 14em 18em var(--flower2),
      12em 17em var(--flower1), 13em 17em var(--flower3),
      14em 17em var(--flower1), 12em 16em var(--flower2),
      13em 16em var(--flower1), 14em 16em var(--flower2),
      11em 11em var(--grass4), 11em 10em var(--flower1),
      12em 10em var(--flower3), 13em 10em var(--flower1),
      12em 9em var(--flower1), 12em 11em var(--flower1),
      21em 29em var(--etc-mark2), 20em 28em var(--etc-mark2),
      21em 28em var(--etc-mark2), 22em 28em var(--etc-mark2),
      19em 27em var(--etc-mark2), 20em 27em var(--etc-mark2),
      21em 27em var(--etc-mark2), 22em 27em var(--etc-mark2),
      23em 27em var(--etc-mark2), 19em 26em var(--etc-mark2),
      20em 26em var(--etc-mark2), 21em 26em var(--etc-mark2),
      22em 26em var(--etc-mark2), 23em 26em var(--etc-mark2),
      20em 25em var(--etc-mark2), 22em 25em var(--etc-mark2);
  }
}
